absl-py
addict
altair
applicationinsights
asgiref
astunparse
attrs
awscli
backports.csv
blinker
boto3
botocore
Brotli
cachetools
cap-from-youtube
certifi
chardet
charset-normalizer
cli-helpers
click
cloudpickle
colorama
coloredlogs
configobj
contourpy
cycler
decorator
distlib
dj-database-url
Django
django-extensions
django-heroku
dm-tree
docker
docutils
dominate
enum34
et-xmlfile
extensions
fake-useragent
filelock
fire
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fsspec
future
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h5py
heroku
huggingface-hub
humanfriendly
humanize
idna
importlib-metadata
imread-from-url
itsdangerous
jaraco.classes
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
keras
keyring
keyrings.alt
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
mssql-cli
mutagen
mysqlclient
networkx
nltk
numpy
oauthlib
onnx
onnx-simplifier
onnx-tf
onnxruntime
onnxruntime-gpu
opencv-python
opencv-python-headless
openpyxl
opt-einsum
packaging
pafy
pandas
Pillow
platformdirs
playsound
prompt-toolkit
protobuf
psutil
psycopg2
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pybboxes
pycocotools
pycryptodomex
pydeck
pygame
Pygments
Pympler
PyMySQL
pyparsing
pyreadline3
PySimpleGUI
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pywin32
pywin32-ctypes
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
roboflow
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
sahi
scikit-learn
scipy
seaborn
shapely
six
sklearn
smmap
SQLAlchemy
sqlparse
streamlit
supervision
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-probability
tensorflowjs
termcolor
terminaltables
tf2onnx
thop
threadpoolctl
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typeguard
typing_extensions
tzdata
tzlocal
ultralytics
urllib3
validators
virtualenv
virtualenvwrapper-win
visitor
voluptuous
watchdog
wcwidth
websocket-client
websockets
Werkzeug
whitenoise
wrapt
WTForms
yolo
yolov5
yolov6
yolov8
yt-dlp
zipp
